extends layout

append scripts
  script(type='text/javascript', src=rel('/javascripts/jquery.js'))
  script(type='text/javascript', src=rel('/javascripts/jquery.timeago.js'))
  script(type='text/javascript', src=rel('/javascripts/clipboard.min.js'))
  script(type='text/javascript', src=rel('/javascripts/dir.js'))

block header
  h1= title
  p Directory view (#[a(href='/') index] / #[a(href='..') parent])

block index
  div#dirs.index-container
    h2 Dirs
    if dirs.length
      ul.index
        each item in dirs
          li
            //- trailing space below on purpose!
            | #[a(href=url_prefix + item.name + "/") #{item.name}], 
            | #[abbr.timeago(title=item.lastmod.iso) #{item.lastmod.date}] 
            | (#[span.dl-button.clip-copy(data-clipboard-text=item.dl.wget_dir, title=item.dl.wget_dir) wget])
    else
      p No subdirectories.
  div#files.index-container
    h2 Files
    if files.length
      ul.index
        each item in files
          li
            //- trailing space below on purpose!
            | #[a(href=url_prefix + item.name) #{item.name}], 
            | #[abbr.timeago(title=item.lastmod.iso) #{item.lastmod.date}] 
            | (#[span.dl-button.clip-copy(data-clipboard-text=item.dl.wget, title=item.dl.wget) wget])
    else
      p No files.
